services:
  caddy:
    build:
      context: .
      dockerfile: Dockerfile.caddy
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    restart: unless-stopped
    network_mode: host
    profiles:
      - essential

  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:15
    container_name: wg-easy
    networks:
      wg:
        ipv4_address: 10.42.42.42
        ipv6_address: fdcc:ad94:bacf:61a3::2a
    volumes:
      - etc_wireguard:/etc/wireguard
      - /lib/modules:/lib/modules:ro
    ports:
      - "51820:51820/udp"
      - "5017:51821/tcp"
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
      # - NET_RAW # ⚠️ Uncomment if using Podman
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.all.forwarding=1
      - net.ipv6.conf.default.forwarding=1
    profiles:
      - essential

  dnsmasq: # <-- NEW SERVICE
    image: strm/dnsmasq:latest
    container_name: dnsmasq
    networks:
      wg:
        # Give dnsmasq a static IP within the VPN network for reliable DNS
        ipv4_address: 10.42.42.43 # Assign an unused IP in your wg subnet
    cap_add:
      - NET_ADMIN # Required by dnsmasq container for network config
    volumes:
      - ./configs/dnsmasq:/etc/dnsmasq.conf # Mount a local directory for custom configs
    restart: unless-stopped
    profiles:
      - essential

volumes:
  caddy_data:
  caddy_config:
  storage:
  etc_wireguard:

networks:
  wg:
    driver: bridge
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: 10.42.42.0/24
        - subnet: fdcc:ad94:bacf:61a3::/64
  minichris-local:
    external: true

include:
  - orthanc/docker-compose.yml